body {
  background-color: aliceblue;
  text-align: center;
  font-family: Georgia, serif;
}

#myCanvas {
  border: 1px solid black;
}

#seasonText {
  color: navy;
  font-size: 20px;
}

button {
  background-color: lightblue;
  padding: 10px;
}

#winterImg {
  width: 200px;
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid white;
}
